<!DOCTYPE html>
<html>
  <head>{% block head %}
    <title>Gluttonee: Satiate your HUNGER!</title>
    <link href="/static/style.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <script src="/static/json2.js"></script>
    <script src="/static/jquery-1.6.4.js"></script>
    <script src="/static/underscore.js"></script>
    <script src="/static/backbone.js"></script>
    <script src="/static/raphael.js"></script>
    <script src="/static/application.js"></script>
  {% endblock %}</head>
  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>
