<form action="/new_credit_card" method="POST">
<p>number</p>
<p><input type="text" name="number" /></p>
<p>code</p>
<p><input type="text" name="code" /></p>
<p>exp_month</p>
<p><input type="text" name="exp_month" /></p>
<p>exp_year</p>
<p><input type="text" name="exp_year" /></p>
<p>first_name</p>
<p><input type="text" name="first_name" /></p>
<p>last_name</p>
<p><input type="text" name="last_name" /></p>
<p>street</p>
<p><input type="text" name="street" /></p>
<p>city</p>
<p><input type="text" name="city" /></p>
<p>zip</p>
<p><input type="text" name="zip" /></p>
<p>state</p>
<p><input type="text" name="state" /></p>
<p><input type="submit" value="Submit" /></p>
</form>
