<form action="/register" method="POST">
<p>first_name</p>
<p><input type="text" name="first_name" /></p>
<p>last_name</p>
<p><input type="text" name="last_name" /></p>
<p>email</p>
<p><input type="text" name="email" /></p>
<p>password</p>
<p><input type="text" name="password" /></p>
<p>address</p>
<p><input type="text" name="address" /></p>
<p>credit_card_number</p>
<p><input type="number" name="credit_card_number" /></p>
<p>credit_card_code</p>
<p><input type="number" name="credit_card_code" /></p>
<p>credit_card_exp_month</p>
<p><input type="number" name="credit_card_exp_month" /></p>
<p>credit_card_exp_year</p>
<p><input type="number" name="credit_card_exp_year" /></p>
<p><input type="submit" value="Submit" /></p>
</form>
